{% extends 'layout/content.twig' %}

{% block pageTitle %}Configure user groups{% endblock %}

{% block body %}
    {% include 'common/alerts.twig' %}

    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-lg btn-primary" href="">
                        <i class="fa fa-plus"></i>&nbsp; Create
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    {% for group in userGroups %}
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-aqua">
                    <i class="fa fa-gear"></i>
                </span>
                <div class="info-box-content userGroup">
                    <span class="info-box-number">{{ group.label }} ({{ group.processNames|length }})</span>
                    <div class="pull-right">
                        <a class="btn btn-xs btn-success" href="{{ path('userGroups_edit', {'userGroupName': group.name}) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="btn btn-xs btn-danger" href="{{ path('userGroups_delete', {'userGroupName': group.name}) }}" onClick="return confirm('Are you sure to remove this group : {{ group.label }} ?');" aria-label="Delete" >
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}